<p>Hi, </p><br>
<p><%=@manager.name%> has finalized a place for team lunch.</p><br>
<p>Place information: </p><br>
<table>
	<th>
		Place name:
	</th>
	<td>
		<%=@place.name%>
	</td>

	<th>
		Place address:
	</th>
	<td>
		<%=@place.address%>
	</td>

</table>
<br>
<br>
<br>
<br>