<div>
  <p>Hi, </p>
  <p>A place has been finalized for team lunch.</p>
  <p>Place information: </p>
  <p>
    <b>Place name: </b> <%=@place.name%>
  </p>
  <p>
    <b>Place address: </b> <%=@place.address%>
  </p>
  <p></p>
  <p>--</p>
  <p>Regards,</p>
  <p><%=@manager.name%></p>
  <br>
</div>