<div>
  <p>Hi <%=@manager.name%>,</p>
  <p><%= @manager == @user ? "You have" : "#{@user.name} has"%> proposed a place for team lunch.</p><br>
  <p>Place information: </p>
  <p>
    <b>Place name: </b> <%=@place.name%>
  </p>
  <p>
    <b>Place address: </b> <%=@place.address%>
  </p>
  <br>
</div>  