<div>
  <p>Hi <%=@user.name%>,</p>
  <p><%=@manager.name%> has invited you to join the team lunch.</p>
  <p>Please accept invitation to join the team. </p>
  <%= link_to "Accept", accept_invitation_users_url(token: @user.invitation_token) %>
  <p></p>
  <p>--</p>
  <p>Regards,</p>
  <p><%=@manager.name%></p>
</div>