<div class="form">
  <%= form_for(:user, url: reset_password_user_path(@user.id)) do |f| %>
    <h2 class="text-center">Reset Password</h2>   
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-lock"></i></span>    
        <%= f.password_field :password, autofocus: false, autocomplete: "off", class: "form-control", required: true, placeholder:"Password" %>    
      </div>
    </div> 
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-lock"></i></span>    
        <%= f.password_field :password_confirmation, autofocus: false, autocomplete: "off", class: "form-control", required: true, placeholder:"Confirm Password" %>    
      </div>
    </div>        
    <div class="form-group">
      <%= f.submit "Set Password", :class => "btn btn-secondary login-btn btn-block" %>
    </div>
  <% end %>
</div>