<%=link_to "Add Team Member", new_user_path, class:"btn btn-success create-btn" %>
<div class="users_list_page">
	<table id="usersTable" class="table table-hover table-striped">
		<thead>
			<tr>
				<th>Name</th>
				<th>Email</th>
				<th>Created On</th>
			</tr>
		</thead>
		<tbody>
			<% @users.each do |user| %>
				<tr>
					<td><%= user.name %></td>
					<td><%= user.email %></td>
					<td><%= user.created_at %></td>
				</tr>
			<%end%>
		</tbody>
	</table>
</div>


<script type="text/javascript">
	$(document).ready( function () {
	    $('#usersTable').DataTable();
	} );
</script>